<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <pre>data = {{ data | json }}</pre>
<pre>mForm.value = {{ mForm.value | json }}
mForm.valid = {{ mForm.valid | json }}
mForm.invalid = {{ mForm.invalid | json }}
mForm.enabled = {{ mForm.enabled | json }}
mForm.disabled = {{ mForm.disabled | json }}
mForm.status = {{ mForm.status | json }}
mForm.pristine = {{ mForm.pristine | json }}
mForm.dirty = {{ mForm.dirty | json }}
mForm.touched = {{ mForm.touched | json }}
mForm.untouched = {{ mForm.untouched | json }}
mForm.errors = {{ mForm.errors | json }}</pre>
                <form class="user" #mForm="ngForm" (ngSubmit)="doSubmit(mForm)">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                           aria-describedby="emailHelp" placeholder="Enter Email Address..."
                           [(ngModel)]="data.email" name="email" #mEmail="ngModel"
                           required email minlength="5"
                           [class.is-valid]="mEmail.touched && mEmail.valid" [class.is-invalid]="mEmail.touched && mEmail.invalid">
                    <div class="invalid-feedback" *ngIf="(mEmail.touched && mEmail.invalid) && mEmail.errors?.['required']">請輸入使用者帳號 (E-mail)</div>
                    <div class="invalid-feedback" *ngIf="(mEmail.touched && mEmail.invalid) && mEmail.errors?.['email']">請輸入合法的 E-mail 地址</div>
                    <div class="invalid-feedback" *ngIf="(mEmail.touched && mEmail.invalid) && mEmail.errors?.['minlength']">請輸入至少 {{mEmail.errors?.['minlength'].requiredLength}} 個字元</div>
<pre>mEmail.value = {{ mEmail.value | json }}
mEmail.valid = {{ mEmail.valid | json }}
mEmail.invalid = {{ mEmail.invalid | json }}
mEmail.enabled = {{ mEmail.enabled | json }}
mEmail.disabled = {{ mEmail.disabled | json }}
mEmail.status = {{ mEmail.status | json }}
mEmail.pristine = {{ mEmail.pristine | json }}
mEmail.dirty = {{ mEmail.dirty | json }}
mEmail.touched = {{ mEmail.touched | json }}
mEmail.untouched = {{ mEmail.untouched | json }}
mEmail.errors = {{ mEmail.errors | json }}</pre>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                           placeholder="Password"
                           [(ngModel)]="data.password" name="password" #mPassword="ngModel"
                           required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,30}$"
                           [class.is-valid]="mPassword.valid" [class.is-invalid]="mPassword.invalid">
                    <div class="invalid-feedback" *ngIf="mPassword.invalid && mPassword.errors?.['required']">請輸入使用者密碼 (Password)</div>
                    <div class="invalid-feedback" *ngIf="mPassword.invalid && mPassword.errors?.['pattern']">請輸入合法的密碼格式 (至少各一個小寫英文、大寫英文、數字)</div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck"
                        [(ngModel)]="data.isRemember" name="isRemember" #mIsRemember="ngModel">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <button type="submit" [disabled]="mForm.invalid" class="btn btn-primary btn-user btn-block"> Login </button>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
